body {
  background-color: black;
  font-family: courier;
}

.container {
  color: #0C0;
  text-align: center;
  margin-top: 100px;
}

svg {
  cursor:none;
  border: 5px solid #0C0;
  border-radius: 20px;
}

span {
  color: red;
}